In [17]:
import pandas as pd 
import numpy as npd

In [18]:
diabetic_data = pd.read_csv('diabetic_data.csv')

In [19]:
diabetic_data['insulin'].value_counts()

No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64

In [20]:
diabetic_data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [21]:
cols = ['race','gender','age','time_in_hospital','insulin','diabetesMed','readmitted']

In [22]:
data = diabetic_data[cols]

In [23]:
len(data)

101766

In [27]:
def male(row):
    val = 0
    if row['gender'] == 'Male':
        val = 1
    return val

def female(row):
    val = 0
    if row['gender'] == 'Female':
        val = 1
    return val

def caucasian(row):
    val = 0
    if row['race'] == 'Caucasian':
        val = 1
    return val

def african(row):
    val = 0
    if row['race'] == 'AfricanAmerican':
        val = 1
    return val

def hispanic(row):
    val = 0
    if row['race'] == 'Hispanic':
        val = 1
    return val

def other(row):
    val = 0
    if row['race'] == 'Other':
        val = 1
    return val

def asian(row):
    val = 0
    if row['race'] == 'Asian':
        val = 1
    return val

def no_insulin(row):
    val = 0
    if row['insulin'] == 'No':
        val = 1
    return val

def insulin_steady(row):
    val = 0
    if row['insulin'] == 'Steady':
        val = 1
    return val

def insulin_up(row):
    val = 0
    if row['insulin'] == 'Up':
        val = 1
    return val

def insulin_down(row):
    val = 0
    if row['insulin'] == 'Down':
        val = 1
    return val

def diabetes_med(val):
    if val == 'Yes':
        val = 1
    else:
        val = 0
    return val

def readmitted(val):
    if val == 'NO':
        val = 0
    else:
        val = 1
    return val

In [29]:
def over_50(val):
    splitter = val.split('-')
    if '50' in splitter[0]:
        return 1
    else:
        return 0
    return

In [25]:
data

,race,gender,age,admission_type_id,discharge_disposition_id,time_in_hospital,insulin,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,25,1,No,No,NO
1,Caucasian,Female,[10-20),1,1,3,Up,Yes,>30
2,AfricanAmerican,Female,[20-30),1,1,2,No,Yes,NO
3,Caucasian,Male,[30-40),1,1,2,Up,Yes,NO
4,Caucasian,Male,[40-50),1,1,1,Steady,Yes,NO
...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),1,3,3,Down,Yes,>30
101762,AfricanAmerican,Female,[80-90),1,4,5,Steady,Yes,NO
101763,Caucasian,Male,[70-80),1,1,1,Down,Yes,NO
101764,Caucasian,Female,[80-90),2,3,10,Up,Yes,NO
101765,Caucasian,Male,[70-80),1,1,6,No,No,NO

In [26]:
male_col = data.apply(male, axis = 1)
female_col = data.apply(female, axis = 1)
caucasian_col = data.apply(caucasian, axis = 1)
african_col = data.apply(african, axis = 1)
hispanic_col = data.apply(hispanic, axis = 1)
asian_col = data.apply(asian, axis = 1)
other_col = data.apply(other, axis = 1)

In [28]:
no_insulin_col = data.apply(no_insulin, axis = 1)
insulin_steady_col = data.apply(insulin_steady, axis = 1)
insulin_up_col = data.apply(insulin_up, axis = 1)
insulin_down_col = data.apply(insulin_down, axis = 1)
diabetes_med_col = data['diabetesMed'].apply(diabetes_med)
readmitted_col = data['readmitted'].apply(readmitted)

In [30]:
over_50_col = data['age'].apply(over_50)

In [33]:
diabetes_features = pd.DataFrame()
diabetes_features['Male'] = male_col
diabetes_features['Female'] = female_col
diabetes_features['Caucasian'] = caucasian_col
diabetes_features['African American'] = african_col
diabetes_features['Hispanic'] = hispanic_col
diabetes_features['Asian'] = asian_col
diabetes_features['Other'] = other_col
diabetes_features['No Insulin'] = no_insulin_col
diabetes_features['Insulin Steady'] = insulin_steady_col
diabetes_features['Insulin Down'] = insulin_down_col
diabetes_features['Insulin Up'] = insulin_up_col 
diabetes_features['Diabetes Med'] = diabetes_med_col

In [35]:
diabetes_target = pd.DataFrame()
diabetes_target['Readmitted'] = readmitted_col

In [36]:
diabetes_features.to_csv('diabetes features.csv')
diabetes_target.to_csv('diabetes target.csv')