In [109]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [225]:
loan = pd.read_csv('application_data.csv')

In [226]:
loan.shape

(307511, 122)

### Drop the columns that have > 35% missing values and are not relevant to our classification task.

In [227]:
loan = loan.drop(['OWN_CAR_AGE','EXT_SOURCE_1','APARTMENTS_AVG','BASEMENTAREA_AVG','YEARS_BEGINEXPLUATATION_AVG','YEARS_BUILD_AVG','COMMONAREA_AVG','ELEVATORS_AVG','ENTRANCES_AVG','FLOORSMAX_AVG','FLOORSMIN_AVG','LANDAREA_AVG','LIVINGAPARTMENTS_AVG','LIVINGAREA_AVG','NONLIVINGAPARTMENTS_AVG','NONLIVINGAREA_AVG','APARTMENTS_MODE','BASEMENTAREA_MODE','YEARS_BEGINEXPLUATATION_MODE','YEARS_BUILD_MODE','COMMONAREA_MODE','ELEVATORS_MODE','ENTRANCES_MODE','FLOORSMAX_MODE','FLOORSMIN_MODE','LANDAREA_MODE','LIVINGAPARTMENTS_MODE','LIVINGAREA_MODE','NONLIVINGAPARTMENTS_MODE','NONLIVINGAREA_MODE','APARTMENTS_MEDI','BASEMENTAREA_MEDI','YEARS_BEGINEXPLUATATION_MEDI','YEARS_BUILD_MEDI','COMMONAREA_MEDI','ELEVATORS_MEDI','ENTRANCES_MEDI','FLOORSMAX_MEDI','FLOORSMIN_MEDI','LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI','HOUSETYPE_MODE','TOTALAREA_MODE','WALLSMATERIAL_MODE','FONDKAPREMONT_MODE','EMERGENCYSTATE_MODE'], axis = 1)

In [228]:
loan.shape

(307511, 73)

### OHE

In [229]:
loan_ohe_features = ['NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','WEEKDAY_APPR_PROCESS_START','OCCUPATION_TYPE','ORGANIZATION_TYPE']
print('There are', len(loan_ohe_features), 'features that need to be one hot encoded.')

There are 12 features that need to be one hot encoded.

In [230]:
for i in loan_ohe_features:
    loan[i] = i + ': ' + loan[i].astype(str)

In [232]:
loan_enc = OneHotEncoder(handle_unknown='ignore')
loan_enc.fit(loan[loan_ohe_features])

OneHotEncoder(handle_unknown='ignore')

In [233]:
loan_enc.categories_

[array(['NAME_CONTRACT_TYPE: Cash loans',
        'NAME_CONTRACT_TYPE: Revolving loans'], dtype=object),
 array(['CODE_GENDER: F', 'CODE_GENDER: M', 'CODE_GENDER: XNA'],
       dtype=object),
 array(['FLAG_OWN_CAR: N', 'FLAG_OWN_CAR: Y'], dtype=object),
 array(['FLAG_OWN_REALTY: N', 'FLAG_OWN_REALTY: Y'], dtype=object),
 array(['NAME_TYPE_SUITE: Children', 'NAME_TYPE_SUITE: Family',
        'NAME_TYPE_SUITE: Group of people', 'NAME_TYPE_SUITE: Other_A',
        'NAME_TYPE_SUITE: Other_B', 'NAME_TYPE_SUITE: Spouse, partner',
        'NAME_TYPE_SUITE: Unaccompanied', 'NAME_TYPE_SUITE: nan'],
       dtype=object),
 array(['NAME_INCOME_TYPE: Businessman',
        'NAME_INCOME_TYPE: Commercial associate',
        'NAME_INCOME_TYPE: Maternity leave', 'NAME_INCOME_TYPE: Pensioner',
        'NAME_INCOME_TYPE: State servant', 'NAME_INCOME_TYPE: Student',
        'NAME_INCOME_TYPE: Unemployed', 'NAME_INCOME_TYPE: Working'],
       dtype=object),
 array(['NAME_EDUCATION_TYPE: Academic degree',
        'NAME_EDUCATION_TYPE: Higher education',
        'NAME_EDUCATION_TYPE: Incomplete higher',
        'NAME_EDUCATION_TYPE: Lower secondary',
        'NAME_EDUCATION_TYPE: Secondary / secondary special'], dtype=object),
 array(['NAME_FAMILY_STATUS: Civil marriage',
        'NAME_FAMILY_STATUS: Married', 'NAME_FAMILY_STATUS: Separated',
        'NAME_FAMILY_STATUS: Single / not married',
        'NAME_FAMILY_STATUS: Unknown', 'NAME_FAMILY_STATUS: Widow'],
       dtype=object),
 array(['NAME_HOUSING_TYPE: Co-op apartment',
        'NAME_HOUSING_TYPE: House / apartment',
        'NAME_HOUSING_TYPE: Municipal apartment',
        'NAME_HOUSING_TYPE: Office apartment',
        'NAME_HOUSING_TYPE: Rented apartment',
        'NAME_HOUSING_TYPE: With parents'], dtype=object),
 array(['WEEKDAY_APPR_PROCESS_START: FRIDAY',
        'WEEKDAY_APPR_PROCESS_START: MONDAY',
        'WEEKDAY_APPR_PROCESS_START: SATURDAY',
        'WEEKDAY_APPR_PROCESS_START: SUNDAY',
        'WEEKDAY_APPR_PROCESS_START: THURSDAY',
        'WEEKDAY_APPR_PROCESS_START: TUESDAY',
        'WEEKDAY_APPR_PROCESS_START: WEDNESDAY'], dtype=object),
 array(['OCCUPATION_TYPE: Accountants', 'OCCUPATION_TYPE: Cleaning staff',
        'OCCUPATION_TYPE: Cooking staff', 'OCCUPATION_TYPE: Core staff',
        'OCCUPATION_TYPE: Drivers', 'OCCUPATION_TYPE: HR staff',
        'OCCUPATION_TYPE: High skill tech staff',
        'OCCUPATION_TYPE: IT staff', 'OCCUPATION_TYPE: Laborers',
        'OCCUPATION_TYPE: Low-skill Laborers', 'OCCUPATION_TYPE: Managers',
        'OCCUPATION_TYPE: Medicine staff',
        'OCCUPATION_TYPE: Private service staff',
        'OCCUPATION_TYPE: Realty agents', 'OCCUPATION_TYPE: Sales staff',
        'OCCUPATION_TYPE: Secretaries', 'OCCUPATION_TYPE: Security staff',
        'OCCUPATION_TYPE: Waiters/barmen staff', 'OCCUPATION_TYPE: nan'],
       dtype=object),
 array(['ORGANIZATION_TYPE: Advertising', 'ORGANIZATION_TYPE: Agriculture',
        'ORGANIZATION_TYPE: Bank',
        'ORGANIZATION_TYPE: Business Entity Type 1',
        'ORGANIZATION_TYPE: Business Entity Type 2',
        'ORGANIZATION_TYPE: Business Entity Type 3',
        'ORGANIZATION_TYPE: Cleaning', 'ORGANIZATION_TYPE: Construction',
        'ORGANIZATION_TYPE: Culture', 'ORGANIZATION_TYPE: Electricity',
        'ORGANIZATION_TYPE: Emergency', 'ORGANIZATION_TYPE: Government',
        'ORGANIZATION_TYPE: Hotel', 'ORGANIZATION_TYPE: Housing',
        'ORGANIZATION_TYPE: Industry: type 1',
        'ORGANIZATION_TYPE: Industry: type 10',
        'ORGANIZATION_TYPE: Industry: type 11',
        'ORGANIZATION_TYPE: Industry: type 12',
        'ORGANIZATION_TYPE: Industry: type 13',
        'ORGANIZATION_TYPE: Industry: type 2',
        'ORGANIZATION_TYPE: Industry: type 3',
        'ORGANIZATION_TYPE: Industry: type 4',
        'ORGANIZATION_TYPE: Industry: type 5',
        'ORGANIZATION_TYPE: Industry: type 6',
        'ORGANIZATION_TYPE: Industry: type 7',
        'ORGANIZATION_TYPE: Industry: type 8',
        'ORGANIZATION_TYPE: Industry: type 9',
        'ORGANIZATION_TYPE: Insurance', 'ORGANIZATION_TYPE: Kindergarten',
        'ORGANIZATION_TYPE: Legal Services', 'ORGANIZATION_TYPE: Medicine',
        'ORGANIZATION_TYPE: Military', 'ORGANIZATION_TYPE: Mobile',
        'ORGANIZATION_TYPE: Other', 'ORGANIZATION_TYPE: Police',
        'ORGANIZATION_TYPE: Postal', 'ORGANIZATION_TYPE: Realtor',
        'ORGANIZATION_TYPE: Religion', 'ORGANIZATION_TYPE: Restaurant',
        'ORGANIZATION_TYPE: School', 'ORGANIZATION_TYPE: Security',
        'ORGANIZATION_TYPE: Security Ministries',
        'ORGANIZATION_TYPE: Self-employed', 'ORGANIZATION_TYPE: Services',
        'ORGANIZATION_TYPE: Telecom', 'ORGANIZATION_TYPE: Trade: type 1',
        'ORGANIZATION_TYPE: Trade: type 2',
        'ORGANIZATION_TYPE: Trade: type 3',
        'ORGANIZATION_TYPE: Trade: type 4',
        'ORGANIZATION_TYPE: Trade: type 5',
        'ORGANIZATION_TYPE: Trade: type 6',
        'ORGANIZATION_TYPE: Trade: type 7',
        'ORGANIZATION_TYPE: Transport: type 1',
        'ORGANIZATION_TYPE: Transport: type 2',
        'ORGANIZATION_TYPE: Transport: type 3',
        'ORGANIZATION_TYPE: Transport: type 4',
        'ORGANIZATION_TYPE: University', 'ORGANIZATION_TYPE: XNA'],
       dtype=object)]

In [234]:
loan_ohe_features_result = loan_enc.transform(loan[loan_ohe_features]).toarray()

### Create feature array and name it as loan_x

In [235]:
loan_x = np.append(loan_ohe_features_result, loan.drop(loan_ohe_features, axis = 1).drop('TARGET', axis = 1).values, axis = 1)

In [236]:
loan_x[0]

array([ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
        0.00000000e+00,  1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        1.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        1.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        1.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  1.00002000e+05,  0.00000000e+00,
        2.02500000e+05,  4.06597500e+05,  2.47005000e+04,  3.51000000e+05,
        1.88010000e-02, -9.46100000e+03, -6.37000000e+02, -3.64800000e+03,
       -2.12000000e+03,  1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
        2.00000000e+00,  2.00000000e+00,  1.00000000e+01,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  2.62948593e-01,  1.39375780e-01,  2.00000000e+00,
        2.00000000e+00,  2.00000000e+00,  2.00000000e+00, -1.13400000e+03,
        0.00000000e+00,  1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.00000000e+00])

In [237]:
print('After one hot encoding, we got', len(loan_x[0]), 'features.')

After one hot encoding, we got 186 features.

### Create target array and name it as loan_y

In [238]:
loan_y = loan['TARGET']
loan_y.value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64