In [1]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost.sklearn import XGBClassifier
import pandas as pd
import pickle
import zipfile

## Loan (Gender)
https://fairware.cs.umass.edu/papers/Verma.pdf

In [2]:
model = XGBClassifier()

In [3]:
loan_dir = '../data/feature_engineered_loan_data.csv.zip'
model_save_dir = "../data/output/tab"

In [4]:
#zf = zipfile.ZipFile(loan_dir) 
#loan = pd.read_csv(zf.open('feature_engineered_loan_data.csv'))

loan = pd.read_csv('../data/loan_downsampled.csv')

In [5]:
feature = loan.drop(['Target','Unnamed: 0'], 1)
feature.head()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/169164214.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  feature = loan.drop(['Target','Unnamed: 0'], 1)

,NAME_CONTRACT_TYPE: Cash loans,NAME_CONTRACT_TYPE: Revolving loans,CODE_GENDER: F,CODE_GENDER: M,CODE_GENDER: XNA,FLAG_OWN_CAR: N,FLAG_OWN_CAR: Y,FLAG_OWN_REALTY: N,FLAG_OWN_REALTY: Y,NAME_TYPE_SUITE: Children,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,4.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
target = loan[['Target']]
target.head()

   Target
0       1
1       1
2       1
3       1
4       1

In [7]:
train_X, test_X, train_y, test_y = train_test_split(feature, target, random_state = 42)
len(train_X), len(test_X)

(37237, 12413)

In [8]:
model = model.fit(train_X, train_y)

/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/opt/anaconda3/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/anaconda3/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[16:21:09] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1637426408905/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [9]:
pred_test_y = model.predict(test_X)

In [10]:
accuracy_score(pred_test_y, test_y)

0.6792878433899944

In [15]:
len(pred_test_y)

12413

In [16]:
pred_test_y.sum()

6278

In [17]:
test_X

,NAME_CONTRACT_TYPE: Cash loans,NAME_CONTRACT_TYPE: Revolving loans,CODE_GENDER: F,CODE_GENDER: M,CODE_GENDER: XNA,FLAG_OWN_CAR: N,FLAG_OWN_CAR: Y,FLAG_OWN_REALTY: N,FLAG_OWN_REALTY: Y,NAME_TYPE_SUITE: Children,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
5048,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
21895,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
12005,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5762,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
4579,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20048,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33195,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0
25503,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29951,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
452,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0

In [18]:
pred_test_y

array([0, 1, 0, ..., 1, 0, 1])

In [19]:
fairness_df = test_X.copy()

In [20]:
fairness_df['Predicted_Outcome'] = pred_test_y

In [21]:
fairness_df['Actual_Outcome'] = test_y

### Group Fairness: P(d =1|G = m) = P(d = 1|G = f ) ?
male: 0.619
female: 0.435

#### Male

In [22]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0].shape[0]

4750

In [23]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0]['Predicted_Outcome'].sum()

2941

In [24]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0]['Predicted_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 0].shape[0]

0.6191578947368421

#### Female

In [25]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1].shape[0]

7663

In [26]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1]['Predicted_Outcome'].sum()

3337

In [27]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1]['Predicted_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 1].shape[0]

0.4354691374135456

### Predictive parity 
male: 0.685
female: 0.666

#### Male

In [28]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/1449339335.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1].shape[0]

2941

In [29]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/3875533690.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum()

2016

In [30]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/690816958.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1].shape[0]

0.685481128867732

#### Female

In [31]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/1027064750.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1].shape[0]

3337

In [32]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/4192539009.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum()

2221

In [33]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/800225399.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1].shape[0]

0.6655678753371291

### False positive error rate balance
male: 0.439
female: 0.270

#### Male

In [34]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/3960245532.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0].shape[0]

2106

In [35]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/693973679.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum()

925

In [36]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/728906368.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0].shape[0]

0.4392212725546059

#### Female

In [38]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/2992648255.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0].shape[0]

4130

In [39]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/4129911047.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum()

1116

In [40]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/4159237907.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum() / fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0].shape[0]

0.2702179176755448

### False negative error rate balance
male: 0.238
female: 0.371

#### Male

In [41]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/3742540341.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1].shape[0]

2644

In [42]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/1401204395.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()

2016

In [43]:
(fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1].shape[0] - fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()) / fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/2386687984.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  (fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1].shape[0] - fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()) / fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1].shape[0]

0.23751891074130105

#### Female

In [44]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/4159985694.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1].shape[0]

3533

In [45]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/2924199577.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()

2221

In [46]:
(fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1].shape[0] - fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()) / fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_43983/4060409790.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  (fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1].shape[0] - fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()) / fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1].shape[0]

0.3713557882819134