In [3]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#from xgboost.sklearn import XGBClassifier
from lightgbm import LGBMClassifier
#from tabnet import TabNetClassifier 
import pandas as pd
import pickle

In [4]:
# model = SVC()
# model = XGBClassifier()
model = LGBMClassifier()
# model = TabNetClassifier()

In [7]:
feature_dir = "../data/out/airbnb_features.csv"
target_dir = "../data/out/airbnb_target.csv"
#model_save_dir = "../data/airbnb/tab"

In [8]:
feature = pd.read_csv(feature_dir, index_col = 0)
feature.head()

,host_response_rate,host_listings_count,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,guests_included,...,transit: 45,transit: visit,transit: surrounding,transit: rainier,transit: per,transit: long,transit: give,transit: frequent,transit: four,transit: each
0,96.0,3.0,4.0,1.0,1.0,1.0,85.0,0.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
1,98.0,6.0,4.0,1.0,1.0,1.0,150.0,100.0,40.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,67.0,2.0,11.0,4.5,5.0,7.0,975.0,1000.0,300.0,10.0,...,0,0,0,0,0,0,0,0,0,0
3,100.0,2.0,6.0,2.0,3.0,3.0,450.0,700.0,125.0,6.0,...,0,0,0,0,0,0,0,0,0,0
4,184.0,1.0,2.0,1.0,1.0,1.0,120.0,0.0,40.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
feature.columns = range(feature.shape[1])

In [14]:
target = pd.read_csv(target_dir, index_col = 0)
target.head()

   review_scores_rating
0                     0
1                     0
2                     1
3                     0
4                     0

In [15]:
train_X, test_X, train_y, test_y = train_test_split(feature, target, random_state = 42)
len(train_X), len(test_X)

(2133, 711)

In [16]:
model = model.fit(train_X, train_y)

C:\Users\14388\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [17]:
pred_test_y = model.predict(test_X)

In [18]:
accuracy_score(pred_test_y, test_y)

0.7032348804500703

In [19]:
pred_y = model.predict(feature)

In [20]:
accuracy_score(pred_y, target)

0.9191279887482419

In [ ]:
with open(model_save_dir, 'wb') as file:
    pickle.dump(model, file)