In [1]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost.sklearn import XGBClassifier
import pandas as pd
import pickle
import zipfile

## Loan (Gender)
https://fairware.cs.umass.edu/papers/Verma.pdf

In [2]:
model = XGBClassifier()

In [3]:
loan_dir = '../data/feature_engineered_loan_data.csv.zip'
model_save_dir = "../data/output/tab"

In [4]:
zf = zipfile.ZipFile(loan_dir) 
loan = pd.read_csv(zf.open('feature_engineered_loan_data.csv'))

In [5]:
feature = loan.drop(['Target','Unnamed: 0'], 1)
feature.head()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/169164214.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  feature = loan.drop(['Target','Unnamed: 0'], 1)

,NAME_CONTRACT_TYPE: Cash loans,NAME_CONTRACT_TYPE: Revolving loans,CODE_GENDER: F,CODE_GENDER: M,CODE_GENDER: XNA,FLAG_OWN_CAR: N,FLAG_OWN_CAR: Y,FLAG_OWN_REALTY: N,FLAG_OWN_REALTY: Y,NAME_TYPE_SUITE: Children,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
target = loan[['Target']]
target.head()

   Target
0       1
1       0
2       0
3       0
4       0

In [7]:
train_X, test_X, train_y, test_y = train_test_split(feature, target, random_state = 42)
len(train_X), len(test_X)

(230633, 76878)

In [8]:
model = model.fit(train_X, train_y)

/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/opt/anaconda3/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/anaconda3/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[20:06:24] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1637426408905/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [9]:
pred_test_y = model.predict(test_X)

In [10]:
accuracy_score(pred_test_y, test_y)

0.91928770259372

In [19]:
#['CODE_GENDER: M']

In [17]:
test_X

,NAME_CONTRACT_TYPE: Cash loans,NAME_CONTRACT_TYPE: Revolving loans,CODE_GENDER: F,CODE_GENDER: M,CODE_GENDER: XNA,FLAG_OWN_CAR: N,FLAG_OWN_CAR: Y,FLAG_OWN_REALTY: N,FLAG_OWN_REALTY: Y,NAME_TYPE_SUITE: Children,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
245895,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
98194,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0
36463,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0
249923,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158389,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77581,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0
16991,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114630,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0
158100,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247813,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [20]:
pred_test_y

array([0, 0, 0, ..., 0, 0, 0])

In [27]:
fairness_df = test_X.copy()

In [28]:
fairness_df['Predicted_Outcome'] = pred_test_y

In [45]:
fairness_df['Actual_Outcome'] = test_y

### Group Fairness: P(d =1|G = m) = P(d = 1|G = f ) ?
male: 0.0078
female: 0.0032

#### Male

In [39]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0].shape[0]

26088

In [35]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0]['Predicted_Outcome'].sum()

205

In [40]:
205 / 26088

0.00785801901257283

#### Female

In [41]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1].shape[0]

50790

In [42]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1]['Predicted_Outcome'].sum()

161

In [43]:
161 / 50790

0.0031699153376648945

### Predictive parity 
male: 0.459
female: 0.509

#### Male

In [56]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/1449339335.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1].shape[0]

205

In [57]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/3875533690.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum()

94

In [59]:
94 / 205

0.4585365853658537

#### Female

In [60]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/1027064750.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1].shape[0]

161

In [61]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/4192539009.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Predicted_Outcome'] == 1]['Actual_Outcome'].sum()

82

In [62]:
82 / 161

0.5093167701863354

### False positive error rate balance
male: 0.0047
female: 0.0017

#### Male

In [63]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/3960245532.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0].shape[0]

23445

In [64]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/693973679.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum()

111

In [65]:
111 / 23445

0.00473448496481126

#### Female

In [66]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/2992648255.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0].shape[0]

47242

In [67]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/4129911047.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 0]['Predicted_Outcome'].sum()

79

In [68]:
79 / 47242

0.0016722408026755853

### False negative error rate balance
male: 0.96
female: 0.98

#### Male

In [69]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/3742540341.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1].shape[0]

2643

In [70]:
fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/1401204395.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 0][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()

94

In [75]:
(2643 - 94) / 2643

0.9644343548997352

#### Female

In [72]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1].shape[0]

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/4159985694.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1].shape[0]

3548

In [73]:
fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()

/var/folders/s5/ysjjjszj3jj4ydswlqm14w100000gn/T/ipykernel_87797/2924199577.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fairness_df[fairness_df['CODE_GENDER: F'] == 1][fairness_df['Actual_Outcome'] == 1]['Predicted_Outcome'].sum()

82

In [76]:
(3548 - 82) / 3548

0.9768883878241262